:root {
    --vermelha: #E50914;
    --preta: #141414;
    --branca: #fff;
    --cinza: #aaa;
    --capa: url('/styles/img/capa.png');
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--preta);
    font-family: 'Arial', Times, serif;
    color: var(--branca);
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    color: var(--vermelha);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a {
    text-decoration: none;
    color: var(--cinza);
    margin-right: 10px;
}

header nav a:hover {
    color: var(--branca);
}

.filmePrincipal {
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,0.5) 100%, rgba(0,0,0,0) 100%), var(--capa);
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filmePrincipal .descricao {
    margin-bottom: 40px;
    margin-top: 10px;
}

.filmePrincipal .titulo {
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.filmePrincipal .botao {
    background-color: rgba(0,0,0,.5);
    border: none;
    color: var(--branca);
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;
}

.filmePrincipal .botao:hover {
    background-color: var(--branca);
    color: var(--preta);
}

.botao i {
    margin-right: 8px;
}

.container {
    margin-left: 20px;
}

.filmePrincipal .container {
    width: 70%;
}

.boxFilme {
    height: 100%;
    width: 100%;
    display: block;
}

.carrosselFilmes {
    margin-top: 10px;
}